jgit/**
gcloud/**
github-copilot/**
gh/**
**/node_modules/**
containers/**
Autodesk/**
qBittorrent/**
iterm2/**
LazyVimOptions
zed/**
**/lazy-lock.json
claude/shell-snapshots/**
dlv/**
**/private.fish
**/fish_variables
**/fish_plugins
