jgit/**
gcloud/**
github-copilot/**
gh/**
**/node_modules/**
containers/**
Autodesk/**
qBittorrent/**
iterm2/**
LazyVimOptions
zed/prompts/**
zed/conversations/**
**/lazy-lock.json
claude/shell-snapshots/**
dlv/**
**/private.fish
**/fish_variables
**/fish_plugins
claude/**
.claude/**
.elixir-tools/**
elixir-ls/** 
configstore/**
mise/**
argocd/**
raycast/**
op/**
uv/**
.tool-versions
erl_crash.dump
